body {
    background-color: #E0E8F7;
    margin: 0px;

}
h1 {
    margin-left: 24px;
    margin-top: 24px;
}

.library {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #D4DCF7;
    border-collapse: collapse;
    background-color:#F4F7FC;
}

th {
    border: 1px solid #D4DCF7;
    padding: 12px 16px;
    text-align: left;
}

td {
    padding: 16px;
    border: 1px solid #D4DCF7;
}

#newbookbutton {
    margin-top: 24px;
    margin-left: 24px;
    border-radius: 24px;
    border: none;
    padding: 16px;
    background-color: #F4F7FC;
    border: 1px solid #D4DCF7;
    align-items: center;
    cursor: pointer;
}

.deletebutton {
    border-radius: 5px;
    border: 1px solid #D4DCF7;
    background-color: #F4F7FC;
    padding: 8px;
    width: 75px;
    cursor: pointer;
}

#cancelAdd,
.submit {
    cursor: pointer;
}